.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Ajoute un espace entre les boutons Modifier et Supprimer */
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  gap: 10px; /* Ajoute un espace entre les champs */
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
