.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 30px; /* Ajoute un espace entre les boutons Modifier et Supprimer */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px; /* Augmente l'arrondi des bords */
  width: 150px; /* Réduit la taille des champs */
  
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.orange-button {
  background-color: #ffa500; 
}

.blue-button {
  background-color: #2196f3; 
}

.red-button {
  background-color:#f01616 ; 
}

.add-product-container {
  margin-top: 30px; 
}
.addcatg{
 background-color:#ffa500 ;
 margin-top: 30px;
}

.prod{
  background-color:#2196f3;
  margin-top: 30px;
}
